body{
  padding: 0px;
  margin: 0px;
}

.header{
  background-color: #1F2937;
  color: #F9FAF8;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.left-header{
  font-weight: bold;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}
a{
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

/* styling content */
.content-1-container{
  /* border: 2px solid red; */
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  padding: 40px;
  
}
.content-1{
  width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
  flex: 0 1 1000px;
}
.content-1-left{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
}
.content-1 h2{
  /* border: 2px solid red; */

  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  margin: 0;
}
.content-1 p{
  /* border: 2px solid red; */
  font-size: 18px;
  color: #E5E7EB;
}
.content-1  .img-container > img{
  border-radius: 10%;
}
.content-1 .sign-up-btn{
  background-color: #3882F6;
  color: #E5E7EB;
  font-size: 18px;
  border-color: gray;
  text-decoration: none;
  padding: 10px;
  width: 100px;
  border-radius: 15px;
}

.content-2-container{
  border: 2px solid red; 
  display: flex;
  justify-content: center;
}
.content-2-grid{
  border: 2px solid red; 
  display: flex;
  width: 1000px;
  flex: 0 1 auto;
}
.content-2-grid .cards .img-container{
  width: 100%;

}